/* Navigations */
#particles-js {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/img1.jpeg);
  height: 95vh;
  background-position: center;
  background-size: cover;
  color: snow;
}