{% load static %}
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark grey darken-3">
    <a class="navbar-brand" href="/"><img src="{% static 'images/templatemo_logo.jpg' %}"  alt="logo" style="width: 50%; height: 40%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <div class="navbar-right">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search By Category" name="category">
              </div>   
          </div>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{% url 'polygon'%}">
            <i class="fas fa-camera"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link waves-effect waves-light" href="/admin">
            <i class="fas fa-users-cog"></i>
          </a>
          
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
