{%extends 'base.html'%}
{% load static %}
{% block content %}
<!-- about -->
<div class="about" id="about"> 
    <div class="container"> 
        <div class="welcome">
            <div class="agileits-title"> 
                <h2>Welcome</h2>
                <p>“Life is like photography, we develop from negatives.People will stare. Make it worth their while.” ~ A Genious</p>
            </div>
        </div>
        <div class="about-w3lsrow"> 
            <div class="col-md-7 col-sm-7 w3about-img"> 
                <div class="w3about-text"> 
                    <h5 class="w3l-subtitle">- GOOD MEMORIES</h5>
                    <p>When my best friend and I first met, we were both like, “You’re really weird.” Reality called, school’s back, so we hung up.FYI the bags under our eyes are GUCCI</p>
                </div>
            </div> 
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock %}