{%extends 'base.html'%}
{% load static %}
{% block content %}
<!-- about -->
<div class="about" id="about"> 
    <div class="container"> 
        <div class="welcome">
            <div class="agileits-title"> 
                <h2>Welcome</h2>
                <p>“Life is like photography, we develop from negatives.People will stare. Make it worth their while.” ~ A Genious</p>
            </div>
        </div>
        <div class="about-w3lsrow"> 
            <div class="col-md-7 col-sm-7 w3about-img"> 
                <div class="w3about-text"> 
                    <h5 class="w3l-subtitle">- GOOD MEMORIES</h5>
                    <p>When my best friend and I first met, we were both like, “You’re really weird.” Reality called, school’s back, so we hung up.FYI the bags under our eyes are GUCCI</p>
                </div>
            </div> 
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- portfolio -->
<div class="portfolio" id="gallery">
    <div class="container">
        <div class="agileits-title"> 
            <h3>Categories</h3> 
        </div>
        <ul class="simplefilter w3layouts agileits">
            <li class="active w3layouts agileits" data-filter="all">All</li>
            <li class="w3layouts agileits" data-filter="1">Bloody Pirates!!</li>
            <li class="w3layouts agileits" data-filter="2">Magical Places</li>
            <li class="w3layouts agileits" data-filter="3">Hairstyles</li>
            <li class="w3layouts agileits" data-filter="4">Art</li>
            <li class="w3layouts agileits" data-filter="5">Destinations</li>
        </ul>

        <div class="filtr-container w3layouts agileits">

            {% for image in first %} 
            <div class="filtr-item w3layouts agileits portfolio-t" data-category="1, 5" data-sort="Busy streets">
                <a href="{{image.id}}" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img id={{image.name}} src="{{image.photo.url}}" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>'{{image <span>.category}}'</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {%endfor%}

            {% for image in second %}
            <div class="filtr-item w3layouts agileits" data-category="2, 5" data-sort="Luminous night">
                <a href="images/p2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {%endfor%}

            {% for image in third %}
            <div class="filtr-item w3layouts agileits" data-category="1, 4" data-sort="City wonders">
                <a href="images/p3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {%endfor%}

            {% for image in fourth %}
            <div class="filtr-item w3layouts agileits" data-category="3" data-sort="In production">
                <a href="images/p4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {%endfor%}

            <div class="filtr-item w3layouts agileits" data-category="3, 4" data-sort="Industrial site">
                <a href="images/p5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Peaceful lake">
                <a href="images/p6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1, 5" data-sort="City lights">
                <a href="images/p7.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p7.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
                <a href="images/p8.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p8.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
                <a href="images/p1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //portfolio -->
<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                <h4 class="modal-title">Gaming <span>Store</span></h4>
            </div> 
            <div class="modal-body">
                <div class="agileits-w3layouts-info">
                    <img src="images/1.jpg" alt="" />
                    <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //modal -->
{% endblock %}