{% load static %}

<div class="site-header">
    <div class="main-navigation">
        <div class="responsive_menu">
            <ul>
                <li><a class="show-1 templatemo_home" href="{% url 'home' %}">Gallery</a></li>
                <li><a class="show-2 templatemo_page2" href="#">Categories</a></li>
                <li><a class="show-3 templatemo_page3" href="#">Admin</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row templatemo_gallerygap">
                <div class="col-md-12 responsive-menu">
                    <a href="#" class="menu-toggle-btn">
                        <i class="fa fa-bars"></i>
                    </a>
                </div> <!-- /.col-md-12 -->
                <div class="col-md-3 col-sm-12">
                    <a href="#"><img src="{% static 'images/templatemo_logo.jpg' %}" alt="Polygon HTML5 Template"></a>
                </div>
                <div class="col-md-9 main_menu">
                    <ul>
                        <li><a class="show-1 templatemo_home" href="{% url 'home' %}">
                            <span class="fa fa-camera"></span>
                            Gallery</a></li>
                        <li><a class="show-2 templatemo_page2" href="#">
                            <span class="fa fa-users"></span>
                                Categories</a></li>
                        <li><a class="show-3 templatemo_page3" href="#">
                            <span class="fa fa-users-cog"></span>
                            Admin</a></li>
                    </ul>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 