{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="filtr-item w3layouts agileits" data-category="1, 4" data-sort="City wonders">
    {% if image %}
    <a href="{{image.photo.url}}" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
        <figure>
            <img src="{{image.photo.url}}" class="img-responsive w3layouts agileits {{image.id}}'{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.location.id}}','{{image.category}}', '{{image.category.id}}', '{{image.post_date}}')" alt="W3layouts Agileits">
            <figcaption>
                <h3 id="{{image.name}}"></h3>
            </figcaption>
        </figure>
    </a>
    {% else %}
  <div class="message text-center" style="margin-top: 5rem;">
    <img src="{% static 'images/404.jpg' %}" alt="not-found" style="width:15%; height: 15%;">
    <h3>{{message}}</h3>
    <h4>Go back <a href="{% url 'home' %}">home</a></h4>
  </div>
  {% endif %}
</div>
{% endblock %}